body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;}

    nav ::before{
        content: "";

    }
    nav ul li a:hover{
        color:black;
        background-color: #fff;
    }
nav li {
    margin-right: 20px;
}

nav a {
    font-size: 50px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding:3px 22px ;
    border-radius: 10px;
}

.featured {
    text-align: center;
    padding: 100px 0;
    background-color: aqua;
    z-index: -3;
    opacity: 1.20;
    

}
.featured h1 {
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: -4;
}
.p{
    font-size:3rem ;
    font-family: Arial, Helvetica, sans-serif;
}
.cta-button {
    display: inline-block;
    padding: 30px 70px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.h-secondary{
    font-size: 3.1rem;
    padding: 2px;
}
.h-primary{
    font-size: 4.2rem;
}
.h-third{
    font-size: 6rem;
    display: flex;
    
}



#services{
    margin: 3px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 3px;
    margin: 3px 2px;
    border-radius: 40px;
    background-color: lightgray;

}
#services.box img{
    height: 2px;
    width: 2px;


}
#services.box p{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
#clients{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;

    align-items: center;
    padding: 20px;

}

#client-section::before{
    content: "";
    position: absolute;
    background-color: aqua;
    width: 100%;
    height: 80%;
    z-index: -2;
    opacity: 1.20;
}
.client-item{
    margin-right: 34px;
}
#clients img{
    height: 35px;
width: 94px;


}



#Contact::before{
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -2;
    opacity: 0.7;
}



    


footer{
    background-color: black;
    color: antiquewhite;
    padding: 22px 40px;
    font-size: 3rem;
    margin: 23px;
}